body{
    background-color: black;
    h2{
        color: blanchedalmond;
        font-weight: bold;
    }
    h3{
        margin-left: 40px;
        color: blanchedalmond;
    }
    li{
        color: blanchedalmond;
    }
    .container{
        margin-top: 30px;
        text-align: center;
    }
    .carousel-inner{
        height: 500px;
    }
}